@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        font-family: "Rubik", sans-serif;
        background-color: #07080a;
    }
}

@layer components {
    .noticeFont {
        font-family: "Righteous", sans-serif;
    }

    .menuBtn {
        background-color: transparent;
        border: 1px white solid;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .menuIcon, .menuIcon::before , .menuIcon::after {
        background-color: white;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
    }
    
    .menuIcon::before, .menuIcon::after {
        content: "";
        width: 30px;
        height: 2px;
    }
    
    .menuIcon::before {
        transform: translate(-15px, -8px);
    }
    
    .menuIcon::after {
        transform: translate(-15px, 8px);
    }
    
    .menuBtn:focus {
        outline: none;
    }
    
    /* to form the X */
    :is(.active) .menuIcon {
        background-color: transparent;
    }
    
    /* to form the X */
    :is(.active) .menuIcon::before {
        transform: translateX(-15px) rotate(45deg);
    }
    
    /* to form the X */
    :is(.active) .menuIcon::after {
        transform: translateX(-15px) rotate(-45deg);
    }

    .introTextsContainer {
        animation: reveal 2s ease forwards;
    }

    @keyframes reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .revealHeaderAnimation {
        animation: revealFromLeft 1.5s ease forwards;
    }

    .revealTeckStack {
        animation: revealFromTopLeft 1.5s ease forwards;
    }

    .individualProjectsContainer {
        transform: translateX(-30px) translateY(-30px);
        opacity: 0;
    }
    
    .revealProject {
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }

    @keyframes revealFromLeft {
        0% {
            transform: translateX(-40px);
            opacity: 0;
        }

        100% {
            transform: translate(0px);
            opacity: 1;
        }
    }

    @keyframes revealFromTopLeft {
        0% {
            opacity: 0;
            transform: translateY(-15px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(71, 71, 71);
        border-radius: 5px;
    }

}