@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        font-family: "Rubik", sans-serif;
        background-color: #07080a;
        scroll-behavior: smooth;
    }
}

@layer components {

    .backgroundPattern1 {
        --s: 100px;
        --c1: #1d1d1d;
        --c2: #0f0f0f;
        
        --_g: 
           var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
           var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
        background:
          radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
          radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
          var(--c1);
        background-size: var(--s) var(--s);
    }

    .backgroundPattern2 {
        --s: 150px;
  
        background:
          linear-gradient(135deg,#0000 18.75%,rgba(29, 29, 29) 0 31.25%,#0000 0),
          repeating-linear-gradient(45deg,rgba(29, 29, 29) -6.25% 6.25%,rgba(15, 15, 15, 0.7) 0 18.75%);
        background-size: var(--s) var(--s); 
    }

    .noticeFont {
        font-family: "Righteous", sans-serif;
    }

    .menuBtn {
        background-color: transparent;
        border: 1px white solid;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .menuIcon, .menuIcon::before , .menuIcon::after {
        background-color: white;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
    }
    
    .menuIcon::before, .menuIcon::after {
        content: "";
        width: 30px;
        height: 2px;
    }
    
    .menuIcon::before {
        transform: translate(-15px, -8px);
    }
    
    .menuIcon::after {
        transform: translate(-15px, 8px);
    }
    
    .menuBtn:focus {
        outline: none;
    }
    
    /* to form the X */
    :is(.active) .menuIcon {
        background-color: transparent;
    }
    
    /* to form the X */
    :is(.active) .menuIcon::before {
        transform: translateX(-15px) rotate(45deg);
    }
    
    /* to form the X */
    :is(.active) .menuIcon::after {
        transform: translateX(-15px) rotate(-45deg);
    }

    .introTextsContainer {
        animation: reveal 2s ease forwards;
    }

    @keyframes reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .revealHeaderAnimation {
        animation: revealFromLeft 1.5s ease forwards;
    }

    .revealTeckStack {
        animation: revealFromTopLeft 1.5s ease forwards;
    }

    .individualProjectsContainer {
        transform: translateX(-30px) translateY(-30px);
        opacity: 0;
    }
    
    .revealProject {
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }

    @keyframes revealFromLeft {
        0% {
            transform: translateX(-40px);
            opacity: 0;
        }

        100% {
            transform: translate(0px);
            opacity: 1;
        }
    }

    @keyframes revealFromTopLeft {
        0% {
            opacity: 0;
            transform: translateY(-15px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }



    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg); /* Fixed typo here */
        }
    }

    @keyframes moveLeftAndRight {
        0% {
            transform: rotate(140deg) translateY(0);
            -webkit-transform: rotate(140deg) translateY(0);
            -ms-transform: rotate(140deg) translateY(0);
            transform-origin: center;
          }
          50% {
            transform: rotate(140deg) translateY(35px);
            -webkit-transform: rotate(140deg) translateY(035px);
            -ms-transform: rotate(140deg) translateY(035px);
            transform-origin: center;
          }
          100% {
            transform: rotate(140deg) translateY(0);
            -webkit-transform: rotate(140deg) translateY(0);
            -ms-transform: rotate(140deg) translateY(0);
            transform-origin: center;
          }
    }
    @keyframes moveRightAndLeft {
        0% {
            transform: scaleX(-1) rotate(140deg) translateY(0);
            -webkit-transform: scaleX(-1) rotate(140deg) translateY(0);
            -ms-transform: scaleX(-1) rotate(140deg) translateY(0);
            transform-origin: center;
          }
          50% {
            transform: scaleX(-1) rotate(140deg) translateY(-35px);
            -webkit-transform: scaleX(-1) rotate(140deg) translateY(-35px);
            -ms-transform: scaleX(-1) rotate(140deg) translateY(-35px);
            transform-origin: center;
          }
          100% {
            transform: scaleX(-1) rotate(140deg) translateY(0);
            -webkit-transform: scaleX(-1) rotate(140deg) translateY(0);
            -ms-transform: scaleX(-1) rotate(140deg) translateY(0);
            transform-origin: center;
          }
    }

    @media (max-width: 1024px) {
        @keyframes moveLeftAndRight {
            0% {
                transform: rotate(270deg) translateX(0);
                -webkit-transform: rotate(270deg) translateX(0);
                -ms-transform: rotate(270deg) translateX(0);
                transform-origin: center;
              }
              50% {
                transform: rotate(270deg) translateX(35px);
                -webkit-transform: rotate(270deg) translateX(035px);
                -ms-transform: rotate(270deg) translateX(035px);
                transform-origin: center;
              }
              100% {
                transform: rotate(270deg) translateX(0);
                -webkit-transform: rotate(270deg) translateX(0);
                -ms-transform: rotate(270deg) translateX(0);
                transform-origin: center;
              }
        }
        @keyframes moveRightAndLeft {
            0% {
                transform: scaleX(-1) rotate(270deg) translateX(0);
                -webkit-transform: scaleX(-1) rotate(270deg) translateX(0);
                -ms-transform: scaleX(-1) rotate(270deg) translateX(0);
                transform-origin: center;
              }
              50% {
                transform: scaleX(-1) rotate(270deg) translateX(-35px);
                -webkit-transform: scaleX(-1) rotate(270deg) translateX(-35px);
                -ms-transform: scaleX(-1) rotate(270deg) translateX(-35px);
                transform-origin: center;
              }
              100% {
                transform: scaleX(-1) rotate(270deg) translateX(0);
                -webkit-transform: scaleX(-1) rotate(270deg) translateX(0);
                -ms-transform: scaleX(-1) rotate(270deg) translateX(0);
                transform-origin: center;
              }
        }
    }

    .arrowPointer1 {
        
        animation: moveLeftAndRight 4s linear infinite;
        transform-origin: center;
    }
    .arrowPointer2 {
        
        animation: moveRightAndLeft 4s linear infinite;
        transform-origin: center;
    }


    
    .triangleIcon {
        animation: rotate 4s linear infinite;
    }
    
    .squareIcon {
        animation: rotate 4s linear infinite;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(71, 71, 71);
        border-radius: 5px;
    }

}